; This is a supplemental php.ini. It is loaded and takes precedence as long as you use `bknix env`.
; However, if you call without `bknix env` (eg from an IDE), then it won't be loaded.

; Provide compatibility with GenCode in <=v4.6.
mysql.default_port=%%MYSQLD_PORT%%
mysql.default_host=%%LOCALHOST%%
mysql.default_user=nobody
mysql.default_password=thesearentthedroidsyourelookingfor
